@charset "UTF-8";
body{
    margin:0;
}
.header_logo{
    text-align: center;
    width: 100%;
}
.header_navlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.header_navlist a{
    color: black;
    text-decoration: none;
}
.header_navlist li{
    margin: 16px 28px;
    list-style: none;

}
.ranking {
    counter-reset: rank;
     text-align: center;
    list-style: none;
    
  }
   
  .ranking li {
    position: relative;
    
  }
   
  .ranking li:not(:last-child) {
    margin-bottom: 0;
  }
   
  .ranking li::before { 
    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    padding:  5%;
    font-size: 1.2em;
    color: #fff; 
    background: rgba(0,0,0,0.8); 

  }
   
  .ranking img { 
    width: 90%;
    height: 10%;
    object-fit: cover;
   
  }
  
.ranking p { 
    position: absolute;
    bottom: 0;
    width: 20%; 
    padding: 3%;
    color: #fff;
    background: rgba(0,0,0,0.8);
    text-align: center; 
    margin: 5%;
    bottom: 0;
  }
 
table {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
th,td {
  border: 1px solid #333333;
  padding: 5px;
}
th {
  width: 200px;
  background-color:aquamarine;
  color: white;
}
td {width: 600px;}
.simple-linear {
  background: linear-gradient(blue, aqua);
}